<configuration scan='true' scanPeriod='500' debug='true'> <!-- in millis -->
    <property name='gslog.configurationFolder' scope='system'
              value='${gslog.configurationFolder:-Workbench/logbackConfiguration}'/>
    <include file='${gslog.configurationFolder}/gslog-configure-T.xml'/>

</configuration>