<!-- Main entry for configuration of logback -->
<configuration scan="true" scanPeriod="500"> <!-- in millis -->
    <jmxConfigurator/> <!-- VIGTIGT: JMXConfigurator skal stoppes manuelt i en webapp -->
    <include resource="logback-gs-console-logging.xml"/>
    <include resource="logback-gs-file-logging.xml"/>
</configuration>