<included>
    <property name="gslog.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="gslog.consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${gslog.pattern}</pattern>
        </encoder>
    </appender>
    <appender name="gslog.errorConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        <encoder>
            <pattern>${gslog.pattern}</pattern>
        </encoder>
    </appender>

    <property name="gslog.home" value="testlogs"/>
    <if condition='!isDefined("gslog.timestamp")'>
        <then>
             <root level="info">
                <appender-ref ref="gslog.consoleAppender"/>
                <appender-ref ref="gslog.errorConsoleAppender"/>
            </root>
        </then>
        <else>
            <property name="gslog.database" value="${gslog.database:-Generel}"/>
            <property name="gslog.system" value="${gslog.system:-Ukendt}"/>
            <property name="gslog.application" value="${gslog.application:-Ukendt}"/>
            <property name="gslog.additionalFilename" value="${gslog.additionalFilename:- }"/>
            <property name="gslog.user" value="${gslog.user:- }"/>

            <property name="gslog.filename"
                      value='${gslog.home}/${gslog.database}/${gslog.system}/${gslog.user}_${gslog.application}_${gslog.database}_${gslog.system}_${gslog.additionalFilename}_${gslog.timestamp}'/>

            <appender name="gslog.fileAppender" class="ch.qos.logback.core.FileAppender">
                <file>${gslog.filename}.out.log</file>
                <encoder>
                    <pattern>${gslog.pattern}</pattern>
                </encoder>
            </appender>
            <appender name="gslog.errorFileAppender" class="ch.qos.logback.core.FileAppender">
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>warn</level>
                </filter>
                <file>${gslog.filename}.err.log</file>
                <encoder>
                    <pattern>${gslog.pattern}</pattern>
                </encoder>
            </appender>
            <root level="info">
                <appender-ref ref="gslog.fileAppender"/>
                <appender-ref ref="gslog.errorFileAppender"/>
            </root>
        </else>
    </if>


</included>




