<!-- Main entry for configuration of logback -->
<configuration scan="true" scanPeriod="500"> <!-- in millis -->
    <include file="logback-common-properties-settings.xml"/>
    <include file="logback-common-console-settings.xml"/>
    <if condition='!isDefined("gslog.timestamp")'>
        <then>
            <timestamp scope="system" key="gslog.timestamp" datePattern="yyyy-MM-dd_HH-mm-ss-SSS"/>
            <root level="info">
                <appender-ref ref="gslog.consoleAppender"/>
                <appender-ref ref="gslog.errorConsoleAppender"/>
            </root>
        </then>
        <else>
            <include file="logback-common-file-settings.xml"/>
        </else>
    </if>
</configuration>