<!-- Main entry for configuration og logback -->
<configuration debug="false" scan='true' scanPeriod='50'> <!-- in millis -->
    <include file='logback-common-default-settings.xml'/>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
    <if condition='isDefined("gslog.resource")'>
        <then>
            <include resource='${gslog.resource}'/>
        </then>
    </if>
</configuration>