<!-- Entry for configuration of logback -->
<included>
    <include file="${gslog.configurationFolder}/logback-gs-standard-properties.xml"/>
    <include file="${gslog.configurationFolder}/logback-gs-standard-console-appenders.xml"/>
    <root level="info">
        <appender-ref ref="gslog.consoleAppender"/>
    </root>
</included>