<!-- Entry for configuration of logback -->
<included>
    <include resource="logback-gs-standard-properties.xml"/>
    <include resource="logback-gs-standard-console-appenders.xml"/>
    <if condition='!isDefined("gslog.timestamp")'>
        <then>
            <timestamp scope="system" key="gslog.timestamp" datePattern="yyyy-MM-dd_HH-mm-ss-SSS"/>
            <root level="info">
                <appender-ref ref="gslog.consoleAppender"/>
                <appender-ref ref="gslog.errorConsoleAppender"/>
            </root>
        </then>
        <else>
            <include resource="logback-gs-standard-file-appenders.xml"/>
            <root level="info">
                <appender-ref ref="gslog.fileAppender"/>
                <appender-ref ref="gslog.errorFileAppender"/>
            </root>
        </else>
    </if>
</included>