<included>

    <appender context="system" name="gslog.consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${gslog.pattern}</pattern>
        </encoder>
    </appender>
    <appender context="system"  name="gslog.errorConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        <encoder>
            <pattern>${gslog.pattern}</pattern>
        </encoder>
    </appender>

</included>




